.info-container {
  background-color: rgb(94, 93, 91);
  margin-right: 10px;
  padding: 10px;
}
label,
input,
textarea,
select {
  display: block;
  width: 145px;
  padding: 0.1rem;
}
select {
  width: 145px;
  padding: 0.1rem;
}
