* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  color: white;
  padding: 5%;
  background-color: rgb(232, 221, 221);
  padding: 15% 5%;
}
.info {
  width: 25%;
}
.note {
  width: 60%;
  margin-right: 20px;
}
